<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<title>체 단 실</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- dialog -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="{% static 'main/css/dialog.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
        <!-- Login -->
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lobster|Noto+Sans:400,700'><!-- Login 폰트 -->
        <!-- 폰트어썸 -->
    <link rel="stylesheet" href="{% static 'main/css/login.css' %}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
<script src="https://kit.fontawesome.com/f54e2de30e.js" crossorigin="anonymous"></script>
            <link rel="stylesheet" href="{% static 'main/css/main.css' %}" />

        <!-- 로그인 체크 -->
         {% if request.session.id %}
                    {% else %}
        <script>alert("먼저 로그인을 해주세요.");sessionStorage.setItem("login",1); window.history.back();</script>
                    {% endif%}
        
          <!-- 새로 파일 만들기엔 너무 적어서 -->
        <style>
            textarea{resize:none;}
        </style>
	</head>
	<body style="padding-top: 4em;">
        <!-- popup div -->
    <div id = "popup">
        <i id="popup_close" class="fas fa-times-circle" onclick="document.getElementById('popup').style.display='none';"></i>
        <div id = "popup_contents">
        </div>
    </div>

		<!-- Header -->
			<header id="header">
				<h1 style="text-transform: none;"><strong><a href="{% url 'index' %}">체단실</a></strong> 
                        &nbsp;&nbsp;&nbsp; {{aka}}
                
                </h1>
				<nav id="nav">
					<ul>
						<li><a href="{% url 'index' %}">Home</a></li>
						<li><a href="{% url 'mypage' %}">my Page</a></li>
						<li><a href="{% url 'information' %}">Information</a></li>
						<li><a href="{% url 'community' isBug=0 num=0 %}" style="color:red;">Community</a></li>
						<li><a href="{% url 'logout' to='community' %}">Logout</a>
                        </li>   
					</ul>
				</nav>
			</header>
        
			<a href="#menu" class="navPanelToggle"><span class="fas fa-bars"> </span></a>

    
        
        
        
		<!-- Main -->
			<section class="wrapper" style="padding-bottom: 2em;">
				<div class="container">

					<header id="comm_write_header" class="major special">
						<h2></h2>
						<p></p>
					</header>
                    
                    <div class="9u 12u$" >
                        <input 
                               type="text"
                               style="font-size:1.5em;margin-bottom:2em;"
                               placeholder="제목"
                               maxlength="99"
                               id="title"
                               autofocus
                               />

                    </div>
                    <div class="12u 12u$">
                        <textarea id="content" style="line-height:1.2em;"  placeholder="본문"></textarea>
                    </div>
                    <div style="margin-top:1em;">
                        <input type="checkbox" id="isSecret"/><label for="isSecret" id="isSecret_label" style="float:right;margin-top: 6px;display:none;">비밀 글</label>
                        <label for="image" id="image_label" style="float:right;margin-right:1em;text-transform: none;" class="button alt 6u">이미지 업로드</label>
                        <input type="file" id="image" accept="image/*" onchange="image_change(event);" style="display:none">
                        <div class="0u"></div>
                    </div>
                </div>
                
                <button style="margin:0 auto;margin-top:4em;display:block;" class="icon big special fa-upload" onclick="comm_write_save(this);"> 작성하기 </button>
        </section>
        

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="https://www.facebook.com/profile.php?id=100005084624729" class="icon fas fa-facebook-square"></a></li>
						<li><a href="https://www.instagram.com/dlwpdlf147/" class="icon fas fa-instagram"></a></li>
                        <li><a href="https://github.com/worldonetop" target="_blank" class="icon fas fa-github-square"></a></li>
                        <li><a href="https://velog.io/@dlwpdlf147" class="icon fas fa-vimeo-square" target="_blank"></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; 이제일</li>
						<li><i class="far fa-envelope"></i> Email : dlwpdlf147@naver.com</li>
						<li>Create : <a href="https://velog.io/@dlwpdlf147" target="_blank">WorldOneTop</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{% static 'main/js/jquery.min.js' %}"></script>
			<script src="{% static 'main/js/skel.min.js' %}"></script>
			<script src="{% static 'main/js/util.js' %}"></script>
			<script src="{% static 'main/js/main.js' %}"></script>
        
        <!-- ajax에서 scrf 위조 방지 -->
          <script src="{% static 'main/js/ajax_scrf.js' %}"></script>
        <!-- 전용 js -->
          <script src="{% static 'main/js/community.js' %}">init_comm_write();</script>
        <script>init_comm_write({{ data|safe }});</script>

	</body>
</html>