<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
{% load static %}
<html>
	<head>
		<title>체 단 실</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
            <link rel="stylesheet" href="{% static 'main/css/main.css' %}" />
        <!-- dialog -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="{% static 'main/css/dialog.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
        <!-- Login -->
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lobster|Noto+Sans:400,700'><!-- Login 폰트 -->
    <link rel="stylesheet" href="{% static 'main/css/login.css' %}">
    
        
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<h1><strong><a href="{% url 'index' %}">체단실</a></strong> &nbsp;&nbsp;by &nbsp;△ 이제일</h1>
				<nav id="nav">
					<ul>
						<li><a href="{% url 'index' %}">Home</a></li>
						<li><a href="{% url 'generic' %}">Generic</a></li>
						<li><a href="{% url 'elements' %}">Elements</a></li>
						<li><a href=# id="six" onclick="dialog_click(this.id)" > Login</a></li>   
						<li><a href="{% url 'dialog' %}">dialog</a></li>
					</ul>
				</nav>
			</header>
        
			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"> </span></a>

    
            


<!-- dialog 창 view 설정 -->
<div id="modal-container" >
    <div class="modal-background">
        <div class="modal">
        <!-- 애니메이션 효과 외곽선 -->
           <svg class="modal-svg" xmlns="http://www.w3.org/2000/svg" width="22em" height="25em" preserveAspectRatio="none">
			<rect x="0" y="0" fill="none" width="22em" height="25em" rx="3" ry="3"></rect>
			</svg>
        
            <div class="modal_div">
                <form method="post" action="#" class="login_form">{% csrf_token %}
                    <center>
                        <p class="login_logo">Login</p>
                        <div class="10u$ (small) login_input">
                            <input type="email" placeholder="input your email"/>
                        </div>        
                        <button type="submit" class="button login_button" style="margin-top:1em;">Login</button>
                    </center>
                </form> 
            </div>
      
        </div>
    </div>
</div>
 <!-- dialog 창 설정 -->
        
    
        
        
		<!-- Banner -->
        <div>
            
			<section id="banner">
				<h2>체단실</h2>
				<b style="line-height:130%;"><p>Your personal body data in  <br/> this one Application.</p></b>
				<ul class="actions">
					<li><a href="#" class="button special">start</a></li>
				</ul>
			</section>
        </div>

        <!-- One -->
				<section id="one" class="wrapper style1">
					<div class="container 75%">
						<div class="row 200%">
							<div class="6u 12u$(medium)">
								<header class="major">
									<h2>Maecenas luctus lectus</h2>
									<p>Perspiciatis doloremque recusandae dolor</p>
								</header>
							</div>
							<div class="6u$ 12u$(medium)">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non ea mollitia corporis id, distinctio sunt veritatis officiis dolore reprehenderit deleniti voluptatibus harum magna, doloremque alias quisquam minus, eaque. Feugiat quod, nesciunt! Iste quos ipsam, iusto sit esse.</p>
								<p>Dolorum aspernatur maxime libero ratione quidem distinctio, placeat fugiat laborum voluptatum enim neque soluta vel sunt id ex veritatis. Labore rerum, odit sapiente, alias mollitia magnam exercitationem modi amet earum quia atque ipsum voluptas asperiores quas laboriosam.</p>
							</div>
						</div>
					</div>
				</section>

			<!-- Two -->
				<section id="two" class="wrapper style2 special">
					<div class="container">
						<header class="major">
							<h2>Fusce ultrices fringilla</h2>
							<p>Maecenas vitae tellus feugiat eleifend</p>
						</header>
						<div class="row 150%">
							<div class="6u 12u$(xsmall)">
								<div class="image fit captioned">
									<img src="../../static/main/images/pic02.jpg" alt="" />
									<h3>Lorem ipsum dolor sit amet.</h3>
								</div>
							</div>
							<div class="6u$ 12u$(xsmall)">
								<div class="image fit captioned">
									<img src="../../static/main/images/pic03.jpg" alt="" />
									<h3>Illum, maiores tempora cupid?</h3>
								</div>
							</div>
						</div>
						<ul class="actions">
							<li><a href="#" class="button special big">Nulla luctus</a></li>
							<li><a href="#" class="button big">Sed vulputate</a></li>
						</ul>
					</div>
				</section>

			<!-- Three -->
				<section id="three" class="wrapper style1">
					<div class="container">
						<header class="major special">
							<h2>Mauris vulputate dolor</h2>
							<p>Feugiat sed lorem ipsum magna</p>
						</header>
						<div class="feature-grid">
							<div class="feature">
								<div class="image rounded"><img src="../../static/main/images/pic04.jpg" alt="" /></div>
								<div class="content">
									<header>
										<h4>Lorem ipsum</h4>
										<p>Lorem ipsum dolor sit</p>
									</header>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore esse tenetur accusantium porro omnis, unde mollitia totam sit nesciunt consectetur.</p>
								</div>
							</div>
							<div class="feature">
								<div class="image rounded"><img src="../../static/main/images/pic05.jpg" alt="" /></div>
								<div class="content">
									<header>
										<h4>Recusandae nemo</h4>
										<p>Ratione maiores a, commodi</p>
									</header>
									<p>Animi mollitia optio culpa expedita. Dolorem alias minima culpa repellat. Dolores, fuga maiores ut obcaecati blanditiis, at aperiam doloremque.</p>
								</div>
							</div>
							<div class="feature">
								<div class="image rounded"><img src="../../static/main/images/pic06.jpg" alt="" /></div>
								<div class="content">
									<header>
										<h4>Laudantium fugit</h4>
										<p>Possimus ex reprehenderit eaque</p>
									</header>
									<p>Maiores iusto inventore fugit architecto est iste expedita commodi sed, quasi feugiat nam neque mollitia vitae omnis, ea natus facere.</p>
								</div>
							</div>
							<div class="feature">
								<div class="image rounded"><img src="../../static/main/images/pic07.jpg" alt="" /></div>
								<div class="content">
									<header>
										<h4>Porro aliquam</h4>
										<p>Quaerat, excepturi eveniet laboriosam</p>
									</header>
									<p>Vitae earum unde, autem labore voluptas ex, iste dolorum inventore natus consequatur iure similique obcaecati aut corporis hic in! Porro sed.</p>
								</div>
							</div>
						</div>
					</div>
				</section>

			<!-- Four -->
				<section id="four" class="wrapper style3 special">
					<div class="container">
						<header class="major">
							<h2>Aenean elementum ligula</h2>
							<p>Feugiat sed lorem ipsum magna</p>
						</header>
						<ul class="actions">
							<li><a href="#" class="button special big">Get in touch</a></li>
						</ul>
					</div>
				</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook"></a></li>
						<li><a href="#" class="icon fa-twitter"></a></li>
						<li><a href="#" class="icon fa-instagram"></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{% static 'main/js/jquery.min.js' %}"></script>
			<script src="{% static 'main/js/skel.min.js' %}"></script>
			<script src="{% static 'main/js/util.js' %}"></script>
			<script src="{% static 'main/js/main.js' %}"></script>
            <script  src="{% static 'main/js/dialog.js' %}"></script>
<!-- dialog -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="{% static 'main/js/dialog.js' %}"></script>

	</body>
</html>