<!DOCTYPE html>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
{% load static %}
<html onclick="click_event()">
    <head>
        <title>체 단 실</title>
        <meta charset="utf-8" />

        <script src="{% static 'main/js/jquery.min.js' %}"></script>

        <script>
            function calcu(body, video) {
                video = video.split('px')[0];
                percent = (video / body) * 100;
                return (100 - percent) / 2 + '%';
            }
            $(document).ready(function () {
                //위치설정
                $('#video').css('top', calcu(window.innerHeight, $('#video').css('height')));

                //비디오 재생 완료 이벤트 설정
                var ve = document.getElementById('video');

                if (ve != null && ve.addEventListener) {
                    ve.addEventListener('ended',function () {
                            window.location.href = "{% url 'index' %}";
                        },
                        false
                    );
                }
            });
            $(window).resize(function () {
                // window.innerHeight
                $('#video').css('top', calcu(window.innerHeight, $('#video').css('height')));
            });
            function click_event(){
                            window.location.href = "{% url 'index' %}";
            };
        </script>

        <style>
            #video {
                position: absolute;
                min-width: 80%;
                max-height: 80%;
                width: auto;
                height: auto;
                overflow: hidden;
                margin: 0 auto;
                left: 10%;
            }
        </style>
    </head>
    <body style="background-color: #000;" >
        <video id="video" preload="auto" autoplay="true" muted="muted" volume="0">
            <source src="https://github.com/WorldOneTop/images_for_bodyCheck/blob/main/images/main/roka_gym.mp4?raw=true" />
        </video>
    </body>
</html>