<!DOCTYPE HTML>
{% load static %}
<html style="height:100%">
	<head>
		<title>체 단 실</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
            <link rel="stylesheet" href="{% static 'main/css/main.css' %}" />
        <!-- dialog -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
        
	</head>
	<body style="height:100%">

		<!-- Header -->
			<header id="header" class="alt">
				<h1><strong><a href="{% url 'index' %}">체단실</a></strong> &nbsp;&nbsp;by △이제일</h1>
				
			</header>
        
			<a href="{% url 'index' %}" class="navPanelToggle"><span class="fa fa-bars"> </span></a>

    
            

        
    
        
        
		<!-- Banner -->
        <div  style="height:100%">
			<section id="banner"  style="height:100%">
				<h2>이메일을 통해 인증을 완료해주세요</h2>
                	<b><p style="text-transform: none">보내드린 주소  <br/> {{email}}</p></b>
				<ul class="actions">
					<li><a href="{% url 'index' %}" class="button special">go to main</a></li>
				</ul>
			</section>
        </div>

	</body>
</html>