{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>CodePen - Upload Animation</title>
        <link rel="stylesheet" href="{% static 'main/css/main.css' %}" />
        <link rel="stylesheet" href="{% static 'main/css/upload.css' %}" />
    </head>
    <body>
        
        <a href="javascript:add_listener()">retry</a>
        <form class="upload" method="post" enctype="multipart/form-data" id="image_upload_form">{% csrf_token %}
            <input type="file" class="drop-here" accept="image/*" id="image_upload_input"/>
            <div class="text text-drop">drop here</div>
            <div class="text text-upload">uploading</div>
             <!-- 원그려주는 공간 확보 -->
            <svg class="progress-wrapper" width="300" height="300">
                <circle class="progress" r="115" cx="150" cy="150"></circle>
            </svg>
                <!-- 끝난 후 V표시 그려주는 거 -->
            <svg class="check-wrapper" width="130" height="130">
                <polyline class="check" points="100.2,40.2 51.5,88.8 29.8,67.5 " />
            </svg>
                <!-- 뒤의 무지갯빛 그림자 -->
            <div class="shadow"></div>
        </form>

        <!-- partial -->
		<script src="{% static 'main/js/jquery.min.js' %}"></script>
        <script src="{% static 'main/js/upload.js' %}"></script>
    </body>
</html>